@{
    ViewData["Title"] = "About Us";
}

<center>
    <h1>@ViewData["Title"]</h1>
</center>


<head>

    <style>
        body{
            background-color:palegreen;
        }
    </style>
</head>


<body>
    <center>
        <h4>
            Our mission is to provide a scalable, accessible, and user-friendly platform where artisans can showcase their craftwork to a global audience. We are dedicated to ensuring a secure and enjoyable shopping experience for our customers while promoting sustainable practices and supporting local communities.
        </h4>
    </center>
    

    <h5>Our Founder</h5>

    <p>James Khumalo, the driving force behind KhumaloCraft Emporium, is a passionate entrepreneur with a deep appreciation for craftsmanship and creativity. With a background in technology and business, James is committed to leveraging the power of e-commerce to empower artisans and promote cultural exchange on a global scale.</p>

    <h5>Our Platform</h5>

    <p>At KhumaloCraft Emporium, we strive to create a platform that is not only visually appealing but also highly functional and intuitive to use. Our development team is dedicated to overcoming technical challenges and implementing advanced features to enhance the user experience, including search capabilities, notifications, and serverless services.</p>

    <h5>Our Commitment</h5>

    <p>We are committed to transparency, integrity, and respect for your privacy. Our Privacy Policy outlines how we collect, use, and protect your personal information, ensuring that your privacy rights are upheld at all times. We value your trust and strive to exceed your expectations in every interaction.</p>

    <h5>Join Us</h5>

    <p>Join us on our journey to celebrate craftsmanship, support artisans, and create a more connected world. Explore our curated collection of handcrafted products, discover unique treasures from around the globe, and experience the joy of connecting with makers who pour their hearts and souls into their craft.</p>

</body>

    
   
