@{
    ViewData["Title"] = "Home Page";
}

<head>

    <style>
        p{
            color:white;
            background:black;
            border: 30px solid black;
            padding: 0px;
        }

        text-center{
            display:gird;
        }

        body{
            background-color: powderblue;
        }

        Founder_Mission{
            position:absolute;
            width:70%;
            height:70%;
            left:15%;
            top:40%


        }

        display-1{
            color:pink;
        }
        .f_image{
            float:right;
            width:40%;
        }


    </style>
</head>
<body>
    <br />
    <div class="Founder_Mission">  

        <img class ="f_image "src ="/js/images/Hands.jpeg" >
        <h1> Founder Mission </h1>
        <p>
            James Khumalo, an entrepreneur with a vision, aims to create KhumaloCraft Emporium,
            an e-commerce platform showcasing handcrafted products globally. To achieve this,
            he needs a scalable, accessible, and user-friendly platform. Cloud computing understanding
            is crucial for making decisions about service models and deployment strategies.
            The platform must be globally accessible, usable, and offer a positive user experience.
            Additionally, efficient database schema for product and user data is necessary for scalability.
            Challenges include technical aspects like global accessibility, scalability, and user experience.
            Advanced features like search capabilities and notifications are desired.
            Overall, KhumaloCraft needs a web application accessible worldwide, storing artisans’ craftwork
            and allowing global customers to access and order them.
        </p>
        <br />
    </div>

        <div style="background-color:#FFF4A3;">
            <h2>About Us</h2>
        <a href="AboutUs.cstml" target="_self">
            Go to the About page

        </a><br />
            <i>Founder is James Khumalo</i>
            
        </div>
        <br />

        <div style="background-color:#FFC0C7;">
            <h2>Contact Us</h2>
            <a href ="ContactUs.cstml" target="_self">Go to the Contact page

            </a><br />
            <i>Contact us on these social media platforms: Facebook and Instagram.</i>
            <i>We avaiable on email as well.</i>
        </div>
        <br />

        <div style="background-color:#D9EEE1;">
            <h2>My Work</h2>
        <a href="MyWork.cstml" target="_self">
            Go to the Work page

        </a><br />
            <i>Explore the different handcrafted items</i>
        </div>
        <br />

</body>






