@{
    ViewData["Title"] = "Privacy Policy for KhumaloCraft Emporium";
}
<h1>@ViewData["Title"]</h1>


<head>
    <style>
        body{
            background-color:powderblue;
        }
        p{
            font-size:90%;
        }
    </style>
</head>
<body>
    <div>
        
            <h3>
                1. Introduction
            </h3>
            <p>
            At KhumaloCraft Emporium, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, disclose, and protect the information you provide when using our e-commerce platform.
            </p>
            <h3>
                2. Information We Collect
            </h3>
            <p>
            We may collect various types of information, including but not limited to:
            Personal Information: When you create an account, make a purchase, or interact with our platform, we may collect your name, email address, shipping address, and payment details.
            Usage Information: We gather data about your interactions with our platform, such as browsing history, products viewed, and preferences, to personalize your experience and improve our services.
            Device Information: We automatically collect information about your device, including IP address, device type, browser information, and geolocation data, to ensure the security and functionality of our platform.
        </p>
            <h3>
                3. How We Use Your Information
            </h3>
            <p>
            We use the collected information for the following purposes:

            To process orders, payments, and deliveries: Your personal information is necessary to fulfill your orders and provide you with the products and services you request.
            To personalize and improve your shopping experience: We use your browsing and purchase history to tailor product recommendations, promotions, and content to your interests.
            To communicate with you about your orders and promotions: We may send you transactional emails, such as order confirmations and shipping updates, as well as marketing communications about new products, promotions, and events.
            To analyze trends and user behavior: We aggregate and analyze data to understand how users interact with our platform, identify trends, and improve our products and services.
        </p>
            <h3>
                4. Data Security
            </h3>
            <p>
            We take appropriate measures to safeguard your personal information against unauthorized access, alteration, disclosure, or destruction. These measures include encryption, secure server infrastructure, access controls, and regular security audits. However, please note that no method of transmission over the Internet or electronic storage is 100% secure, and we cannot guarantee absolute security.
        </p>
            <h3>
                5. Sharing of Information
            </h3>
           <p>
                We may share your information with third-party service providers, such as payment processors, shipping companies, and marketing partners, to fulfill your orders, process payments, and deliver promotional content. We do not sell or rent your personal information to third parties for marketing purposes without your explicit consent.
        </p>

    </div>
</body>

